<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Looking into the future</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" />
</head>
<body style="background-image: url('http://i1379.photobucket.com/albums/ah137/davidyourneighbor/SugarCubed%20Background-01-01_zpshdr3jst9.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
        ">

<div id="main-content" style="display: none">
    <div class="centerElement" style="color: black">
        <img src="https://wiki.cites.illinois.edu/wiki/download/attachments/565347446/Long%20logo%20with%20text.png?version=1&modificationDate=1449046702000&api=v2"
             style="width: 500px; length: 300px">

        <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 150%">
            <br>
            Thank you for going through our short demo.
            We hope you enjoyed it!
            <br>
            We are currently developing the future steps of the project.
            Stay tuned!
        </p>

    </div>


    <div class="cornerright" style="color: black">


        <p>
            <span style="font-family: 'Roboto Condensed', sans-serif; font-size: 100%">
            <a style="color: #666666;"
               data-toggle="modal"
               data-target="#contributors-modal">
                Team</a>
                </span>
            <span>
                |
            </span>
            <span style="font-family: 'Roboto Condensed', sans-serif; font-size: 100%">
            <a style="color: #666666;"
               href="https://wiki.cites.illinois.edu/wiki/display/CSFPSPSS/Sugar+Sugar%21+Food+Printer+Senior+Project+Home">Project
                Wiki </a>

            </span>
        </p>


    </div>
</div>
<script>
    $(document).ready(function () {
        $('#main-content').fadeIn(2000);
    });
</script>

<!-- Modal -->
<div class="modal fade" id="contributors-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: black; color: white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sugar Sugar! Team</h4>
            </div>
            <div class="modal-body">
                <p><b>David Naber</b>
                    <br>
                    <b>Anurag Choudhary</b>
                    <br>
                    <b>Han Chen</b>
                    <br>
                    <b>Sukeerthi Khadri</b>
                    <br>
                    <b>William Xie</b>


                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html></title>
</head>
<body>

</body>
</html>