<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SugarCub3d</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" />
</head>
<body style="background-image: url('http://i1379.photobucket.com/albums/ah137/davidyourneighbor/SugarCubed%20Background-01-01_zpshdr3jst9.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
        ">

<div id="main-content" style="display: none">
    <div class="centerElement" style="color: black">
        <img src="https://wiki.cites.illinois.edu/wiki/download/attachments/565347446/Long%20logo%20with%20text.png?version=1&modificationDate=1449046702000&api=v2"
             style="width: 500px; length: 300px">


        <!--FORM INPUT-->
        <form action="main" method="get">
            <input type="text" class="form-control" id="name" name="name" placeholder="Begin by typing your name in here."
                   style="margin: 2%;">

            <div class="col-md-12 text-center">
                <button type="submit" onclick="location='main'" class="btn btn-default" style="margin: 1%;">Let's go!
                </button>
            </div>
        </form>

    </div>


    <div class="cornerright" style="color: black">


        <p>
            <span style="font-family: 'Roboto Condensed', sans-serif; font-size: 100%">
            <a style="color: #666666;"
               data-toggle="modal"
               data-target="#contributors-modal">
                Team</a>
                </span>
            <span>|</span>
            <span style="font-family: 'Roboto Condensed', sans-serif; font-size: 100%">
            <a style="color: #666666;"
               href="https://github.com/an5rag/sugar-sugar/">Github</a>

            </span>
        </p>


    </div>
</div>
<script>
    $(document).ready(function () {
        $('#main-content').fadeIn(2000);
    });
</script>

<!-- Modal -->
<div class="modal fade" id="contributors-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: black; color: white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SugarCub3d Team</h4>
            </div>
            <div class="modal-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle" src="{{ url_for('static', filename = 'images/anurag_edit.png') }}" alt="Anurag" style="height: 100px; ">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Anurag</h4>
                            Website, Idea, and everything in between.
                            </div>
                    </li>
                </ul>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>